@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  min-height: 90vh;
  min-width: 100%;
}

.tiptap h1 {
  font-size: 30px;
  font-weight:500;
  line-height:38px;
  font-style: normal;
}

.tiptap h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
}

.tiptap h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-style: normal;
}

.tiptap p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.tiptap ul, .tiptap ol {
  padding: 0 1rem;
}


.ProseMirror:focus {
  outline: none;
}
