@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  min-height: 90vh;
  min-width: 100%;
}

.tiptap h1 {
  font-size: 30px;
  font-weight:500;
  line-height:38px;
  font-style: normal;
}

.tiptap h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
}

.tiptap h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-style: normal;
}

.tiptap p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.tiptap ul, .tiptap ol {
  padding: 0 1rem;
}

td, th {
  border: 2px solid #CED4DA;
  box-sizing: border-box;
  min-width: 6em;
  padding: 3px 5px;
  position: relative;
}

th {
  background-color: #F1F3F5;
  font-weight:700;
  text-align: left
}

table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  width: 80%;
  table-layout: fixed;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor{
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror:focus {
  outline: none;
}

.callout {
  border: 2px solid red;
  padding: 10px 5px;
}
